@font-face {
  font-family: "Helvetica";
  src: url(../assets/font/Helvetica.ttf);
}

@font-face {
  font-family: "Helvetica-Light";
  src: url(../assets/font/helvetica-light.ttf);
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url(../assets/font/Helvetica-Bold.ttf);
}

@import "variables";
@import "mixins";
@import "overrides";
@import "general";
